<?xml version="1.0"?>
<launch>
  <arg name="host"	default="0.0.0.0"/>
  <arg name="port"	default="11211"/>
 
  <node pkg="rostful" type="server" name="rostful_server" output="screen"
	args="--host $(arg host) -p $(arg port) --rest-prefix ros --pub /battery --sub /robot_emotion --services /request_waypoints"/>
</launch>

